{erl_opts, [debug_info]}.

% TODO use latest deps
{deps, [
%%    {eleveldb, ".*", {git, "https://github.com/basho/eleveldb.git",
%%                     {tag, "2.1.0"}}},
%%
%%    {erocksdb, ".*", {git, "https://github.com/leo-project/erocksdb.git",
%%                      {tag, 0.4}}},
       ]}.

{eunit_opts, [verbose]}.
