{cover_enabled, true}.

{erl_opts, [warnings_as_errors,
            debug_info]}.

{eunit_opts, [verbose]}.

{deps,
    [%% Used for ec_file to recursively clean directories
     {erlware_commons, ".*",
      {git, "https://github.com/erlware/erlware_commons.git", {tag, "v0.15.0"}}}
%     %% Develop branch of erockdb with checkpoint support
%     {erocksdb, ".*",
%      {git, "https://github.com/leo-project/erocksdb.git", {tag, "542b46"}}},
%     %% Stable version of eleveldb
%     {eleveldb, ".*",
%      {git, "https://github.com/basho/eleveldb.git", {tag, "2.2.15"}}}
    ]}.

{erl_first_files, ["src/loki_backend.erl"]}.

{profiles, [{docs, [{deps,
                     [{edown,
                       {git, "https://github.com/uwiger/edown.git",
                        {tag, "0.8"}}}
                     ]},

                    {edoc_opts, [{doclet, edown_doclet},
                                 {packages, false},
                                 {subpackages, true},
                                 {top_level_readme,
                                  {"./README.md", "https://github.com/sthadka/loki"}}]}]}
           ]}.
